* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #777777;
}

.header {
  height: 400px;
  background-image: url(img1-7/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

h1 {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.main-box {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(161, 161, 161);
}
